

.App {
  text-align: center;
  height: 100%;
}

.AppNavbar{
  display:inline-flex;
  justify-content: space-between;
  width: 100%;
}
.HomeLogo{
  width:10%;
  height: 10%;
}
.LoginIcon{
  width:10%;
  height: 10%;
}
.MyItineraryLogo{
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: center;
}
.itineraryLogo{
  width: 100%;
  height: 25%;
}
.Main-Link{
  width: 100%;
 
  
}
.MainLinkLogo{
  width: 30%;
  height: 30%;
 
}
.center{
  width:170vh ;
  height: 170vh;

}
.CarouselImg{
  width: 25vh;
  height: 25vh;
 
}
.textInSlider{
  display:flex;
  justify-content: flex-start;
}
/*.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}*/

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
